* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.navbar {
  align-items: center;
  border-bottom: 2px solid lightgray;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  margin-bottom: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dark-mode {
  color: #fff;
  background-color: #313843;
}
